/*
 * Board height should be around 700, for 720p screens
 */
#memory_board{ 
	 background:#CCC; 
	 border:#999 1px solid; 
	 width:700px; 
	 height:700px; 
	 margin: auto auto; 
} 

#memory_board > div{ 
	 background: url(../img/tile_bg.jpg);
	 background-size: 155px;
	 border:#000 1px solid; 
/*
 * Tile size: 175px x 175px with padding 
 * 155px x 155px withouth padding
 */
	 width: 155px;
	 height: 21px; 
	 float:left;
	 margin:9px;
	 padding:67px 0px; 
	 cursor:pointer; 
	 text-align:center; 

	 position: relative;
} 
